@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

.main-container {
  background-image: url(Images/Math.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 120px);
  width: 100%;
  gap: 10%;
  color: white;
  padding: 50px;
  overflow: hidden;
  text-shadow:
    0 0 5px white,
    0 0 25px rgb(0, 129, 242);
}

.footer-container {
  background-image: linear-gradient(to right, black, rgb(2, 2, 28) 95%);
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow:
    0 0 5px white,
    0 0 25px rgb(0, 129, 242);
}

.footer-author {
  color: rgb(133, 198, 255);
}

.navBar button {
  display: none;
}

.navigation {
  background-image: linear-gradient(to left, black, rgb(2, 2, 28) 95%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 60px;
  gap: 30px;
  text-shadow:
    0 0 5px white,
    0 0 25px rgb(0, 129, 242);
}

.navigation ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.links {
  color: white;
  text-decoration: none;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 350px;
  min-width: 324px;
  gap: 10px;
  color: white;
}

.btns {
  grid-column: span 1;
  background-color: lightgrey;
  line-height: 50px;
  border-radius: 15px;
  text-shadow: 0 0 5px white;
  font-size: 1.4em;
  box-shadow:
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 12px rgba(255, 255, 255, 0.5);
  border: none;
  font-weight: 900;
}

.display {
  grid-column: span 4;
  background-color: rgb(117, 137, 164);
  line-height: 50px;
  text-align: right;
  color: white;
  padding: 0 25px;
  overflow: hidden;
  border-radius: 15px;
  text-shadow: 0 0 5px white;
  font-size: 1.4em;
  box-shadow:
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 12px rgba(255, 255, 255, 0.5);
  border: none;
}

.zero {
  grid-column: span 2;
  background-color: lightgrey;
  border-radius: 15px;
  text-shadow: 0 0 5px white;
  font-size: 1.4em;
  box-shadow:
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 12px rgba(255, 255, 255, 0.5);
  border: none;
  font-weight: 900;
}

.operators {
  background-color: rgb(6, 32, 47);
  color: white;
  grid-column: span 1;
  line-height: 50px;
  border-radius: 15px;
  text-shadow: 0 0 5px white;
  font-size: 1.4em;
  box-shadow:
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 12px rgba(255, 255, 255, 0.5);
  border: none;
}

.hover:hover {
  background-color: rgb(122, 158, 206);
}

.operators:hover {
  background-color: rgb(141, 173, 215);
}

.home {
  background-image: url(Images/Math.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 120px);
  width: 100%;
  color: white;
  gap: 5%;
  padding: 50px;
  overflow: hidden;
  font-size: 1.2em;
  text-shadow:
    0 0 5px white,
    0 0 25px rgb(0, 129, 242);
}

.home p {
  max-width: 500px;
  text-align: center;
}

.quote {
  background-image: url(Images/Math.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: 100%;
  color: white;
  gap: 5%;
  padding: 50px;
  overflow: hidden;
  font-size: 1.2em;
  text-shadow:
    0 0 5px white,
    0 0 25px rgb(0, 129, 242);
}

@media all and (max-width: 768px) {
  .navBar {
    position: relative;
  }

  .navBar button {
    display: block;
    z-index: 10;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .navigation ul {
    display: none;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: black;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    z-index: 9;
    font-size: 1.5em;
  }

  .menuNav.showMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
