* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-container {
  background-color: rgb(0, 0, 0, 0.9);
  height: 60px;
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
}

.main-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: 100%;
}

.footer-container {
  background-color: rgb(0, 0, 0, 0.9);
  height: 60px;
}

.nav-ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.nav-ul a {
  color: white;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 350px;
  gap: 5px;
}

.btns {
  grid-column: span 1;
  background-color: lightgrey;
  line-height: 50px;
  border: 1px solid grey;
  border-radius: 15px;
}

.display {
  grid-column: span 4;
  background-color: grey;
  line-height: 50px;
  text-align: right;
  color: white;
  border: 1px solid grey;
  padding: 0 25px;
  overflow: hidden;
  border-radius: 15px;
}

.zero {
  grid-column: span 2;
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 15px;
}

.operators {
  background-color: orange;
  grid-column: span 1;
  line-height: 50px;
  border: 1px solid grey;
  border-radius: 15px;
}

.hover:hover {
  background-color: rgb(161, 161, 161);
}

.operators:hover {
  background-color: rgb(188, 122, 0);
}
